#user {
  background-color: #fff;
  border-radius: 10px;
  min-height: 50px;
  padding: 0px 0px 10px 0px;
}
#card-usuario-foto {
  height: 50px;
  color: black;
  font-weight: bold;
  background-color: blueviolet;
  border-radius: 10px;
  margin-left: 20px;
}
#card-usuario {
  display: flex;
  flex-direction: row;
  background-color: #403caa;
  padding: 20px 3px;
  border-radius: 8px;
  color: white;
}

#picture {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
}

#user-descricao {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
}

#dados-usuario {
  background-color: white;
  width: 100%;
  padding: 10px;
}

#sair {
  background: "#F5F5F5";
  color: "#333333";
  height: 55px;
  border-radius: 8px;
  border: 1px solid var(gray);
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  margin: 16px 10% 0px;
  opacity: 0.7;
  width: 80%;
  transition: 0.5s;
}

#sair:hover {
  border: 2px solid var(--black);
}

.user-cards-contact {
  background-color: #f5f5f5;
  border: 5px solid white;
}
.number img {
  background-color: #403caa;
  padding: 5px;
  border-radius: 5px;
}

.number img::before {
  background-color: #11995e;
  color: #11995e;
}

.email img {
  background-color: #11995e;
  padding: 5px;
  border-radius: 5px;
}
