.tech-cards {
  display: flex;
  flex-direction: row;
  border: solid 2px white;
  margin: 2px;
  width: 80%;
  margin: auto;
}
.tech-cards:hover {
  border-right: 4px solid green;
}
.works-cards {
  display: flex;
  flex-direction: row;
  border: solid 2px white;
  margin: 2px;
}
.works-cards:hover {
  border-right: 4px solid #403caa;
}
.user-cards {
  border: solid 2px red;
  margin: 2px;
}
