.tech-cards {
  display: flex;
  flex-direction: row;
  border: solid 2px white;
  margin: 2px;
  width: 80%;
  margin: auto;
}

.tech-cards p {
  padding: 5px 9px;
  background-color: #e7f5ef;
  border-radius: 5px;
  border: none;
  color: rgb(50, 150, 11);
  font-weight: bold;
}

.tech-cards:hover {
  border-right: 4px solid green;
}
.works-cards {
  display: flex;
  flex-direction: row;
  border: solid 2px white;
  margin: 2px;
}
.works-cards:hover {
  border-right: 4px solid #403caa;
}
.user-cards {
  border: solid 2px red;
  margin: 2px;
}

.content {
  margin-left: 5px;
}

.icons-works-cards {
  padding: 10px;
  border-radius: 5px;
  background-color: #403caa3b;
}

.icons-tech-cards {
  padding: 10px;
  border-radius: 5px;
  background-color: #e7f5ef;
}

.icons-works-cards:hover {
  background-color: rgba(112, 57, 214, 0.788);
}
.icons-tech-cards:hover {
  background-color: rgba(165, 216, 64, 0.856);
}
