.tech-cards {
  border: solid 2px white;
  margin: 2px;
  width: 80%;
  margin: auto;
}
.tech-cards:hover {
  border-right: 4px solid green;
}
.works-cards {
  border: solid 2px blue;
  margin: 2px;
}
.user-cards {
  border: solid 2px red;
  margin: 2px;
}
