#tech {
  background-color: #fff;
  border-radius: 10px;
  min-height: 50px;
  padding: 10px 8px;
  overflow: auto;
  max-height: 450px;
}

#addTech {
  background-color: #11995e;
  border-radius: 5px;
  padding: 4px;
  height: 30px;
  padding: 6px 9px;
  color: white;
  font-weight: bold;
}

#tech-title {
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
}
.submit {
  background: var(--roxo);
  color: white;
  height: 45px;
  border-radius: 8px;
  border: 2px solid var(white);
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  margin-top: 16px;
  width: 100%;
  transition: 0.5s;
}
.submit:hover {
  border: 2px solid var(--black);
}
.radio {
  display: none;
}
.label {
  margin: 2px 5px;
  padding: 6px;
  background-color: rgba(78, 71, 255, 0.1);
  color: black;
  border-radius: 5px;
}

.label:hover {
  background-color: rgba(122, 66, 252, 0.541);
}

.label:active,
.label:visited,
.label:focus {
  border: 2px solid green;
}
