#tech {
  background-color: #fff;
  border-radius: 10px;
  min-height: 50px;
  padding: 10px 8px;
}

button {
  background-color: #11995e;
  border-radius: 5px;
  padding: 4px;
  height: 30px;
  /* font-size: 10px; */
}

#tech-title {
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
}
