#tech {
  background-color: #fff;
  border-radius: 10px;
  min-height: 50px;
  padding: 10px 8px;
  overflow: auto;
  max-height: 450px;
}

#addTech {
  background-color: #11995e;
  border-radius: 5px;
  padding: 4px;
  height: 30px;
  padding: 6px 9px;
  color: white;
  font-weight: bold;
}

#tech-title {
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
}

.radio {
  display: none;
}
.label {
  margin: 2px 5px;
  padding: 6px;
  background-color: rgba(78, 71, 255, 0.1);
  color: black;
}

.label:hover {
  background-color: brown;
}

.label::selection {
  border: 2px solid green;
}

/* .radio {
  display: none;
  input:checked {
    input + label {
      border: 2px solid green;
    }
  }
} */
