#works {
  box-sizing: border-box;
  padding: 10px 8px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 50px;
  overflow: auto;
  max-height: 450px;
}

#addWork {
  background-color: #403caa;
  border-radius: 5px;
  padding: 4px;
  height: 30px;
  padding: 6px 9px;
  color: white;
  font-weight: bold;
}

#works-title {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin: 8px 0px;
}
