#works {
  box-sizing: border-box;
  padding: 10px 8px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 50px;
}

#works-title {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin: 8px 0px;
}
